@model IEnumerable<CertificateVault.Models.ADOModels.Vault>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("ADD Vault", "Create", null, null, new { data_modal = "", id = "btnCreate", @class = "btn btn-primary" })
</p>
<div>
<table class="table" id="vaultTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VaultId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VaultId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VaultId })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#vaultTable').DataTable();
        });
    </script>
}